p {
  font-family: Lato;
}
a {
  margin: 0 20px;
  color: aliceblue;
}
nav {
  background-color: black;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
